[Unit]
Description=Kx Dashboards

[Service]
Type=forking
User=direct
Group=direct
PIDFile=/opt/dash/logs/dash.pid
ExecStart=/opt/dash/dash.sh
TimeoutSec=30s
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
